
<div>
    <div>
        
    </div>
<h1>
    Join HealthFlow
</h1>
<span>Subscribe as a Bloomer🌸</span>

<form action="">
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
    <div>
        <label>First Name</label>
        <input type="text" placeholder="name">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" placeholder="Family name">
    </div>
</div>

    <label for="">Email Address</label>
    <input type="email" placeholder="bloomer@exemple.com">

 <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem;">
    <div>
         <label for="">Age</label>
    <input type="number" placeholder="age">
    </div>
   
<div>
 <label for="">Height (cm)</label>
    <input type="number" placeholder="height">
</div>

   <div>
 <label for="">weight (kg)</label>
    <input type="number" placeholder="weight">
   </div>


 </div>
    <label for="">Your Goal</label>
    <select name="" id="">
        <option value="">Select your goal</option>
        <option value="">Weight Loss</option>
        <option value="">Muscle Gain</option>
        <option value="">Maintain Weight </option>
        <option value="">Improve Fitness</option>
        <option value="">Healthy Eating Habits</option>
        <option value="">Increase Energy</option>
        <option value="">Other</option>

    </select>
   <label for="">Relation avec Lifestyle Healthy</label>
    <select name="" id="">
        <option value="">Select your level</option>
        <option value="">Débutant</option>
        <option value="">Intermédiaire</option>
        <option value="">Discipliné </option>
        <option value="">Avancé</option>
        <option value="">Expert</option>

    </select>



<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
    <div>
        <label>Password</label>
        <input type="password" placeholder="••••••••">
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" placeholder="••••••••">
    </div>
</div>
<input type="checkbox" name="" id="">
    <label for="">I agree to the <span>
         Terms and Conditions</span> and <span> Privacy Policy</span></label>
   
<button>
    Subscribe Now🎉
</button>

</form>
<span>
    Already have an account? <span [routerLink]="['/authentification','bloomer']">Log in</span>
</span></div>