<div class="body">
  <div class="card">
    <h1>Welcome to<br>HealthFlow</h1>
    <span class="subtitle">You want to log in as</span>
 
    <div class="btn-group">
      <button class="btn btn-nutritionist" [routerLink]="['/authentification','nutritionist']">
        <span class="emoji">🥗</span> Nutritionist
      </button>
      <button class="btn btn-coach" [routerLink]="['/authentification','coach']">
        <span class="emoji">💪</span> Coach
      </button>
      <button class="btn btn-bloomers" [routerLink]="['/authentification','bloomer']">
        <span class="emoji">🌸</span> Our Bloomers
      </button>
      
    </div>
  </div>
</div>