 <div class="body">

<div class="card">
    <h1>Welcome Back!</h1>
    <span class="subtitle">Log in to continue to HealthFlow</span>
 
    <form action="">
      <label for="email">Email</label>
      <input id="email" type="text" placeholder="ahmed@email.com" />
 
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="••••••••" />
 
      <button type="submit" class="btn-login">Log In</button>
 
      <p class="signup-row">
        Want to subscribe?
        <a [routerLink]="['/inscrire',role]">Sign Up</a>
      </p>
    </form>
  </div> </div>