<div class="body">
  <div class="card">
    <h1>Welcome Back!</h1>
    <span class="subtitle">Log in to continue to HealthFlow</span>

    <form (ngSubmit)="login()">

      <label for="email">Email</label>
      <input id="email" type="email"
             [(ngModel)]="email"
             name="email"
             placeholder="ahmed@email.com" required/>

      <label for="password">Password</label>
      <input id="password" type="password"
             [(ngModel)]="pwd"
             name="pwd"
             placeholder="••••••••" required/>

      <button type="submit" class="btn-login">Log In</button>

      <p class="signup-row">
        <a [routerLink]="['/forget-password']">Forget password?</a>
      </p>

      <p class="signup-row">
        Want to subscribe?
        <a [routerLink]="['/inscrire', role]">Sign Up</a>
      </p>

    </form>
  </div>
</div> 