
<div>
    <div>
        
    </div>
<h1>
    Join HealthFlow
</h1>
<span>Subscribe as a Coach💪</span>

<form action="">
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
    <div>
        <label>First Name</label>
        <input type="text" placeholder="name">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" placeholder="Family name">
    </div>
</div>

    <label for="">Email Address</label>
    <input type="email" placeholder="coach@exemple.com">


    <label for="">Phone Number</label>
    <input type="tel" placeholder="phone number">
    <label for="">Speciality</label>
    <select name="" id="">
        <option value="">Select your coaching type</option>
        <option value="">Fitness Coach</option>
        <option value="">Personal Training</option>
        <option value="">Stength & Conditioning</option>
        <option value="">Yoga Instructor</option>
        <option value="">Wellness Coach</option>
        <option value="">Life Coach</option>

    </select>


    <label for="">Certifications</label>
    <input type="text" placeholder="List your certifications(e.g,ACE,NASM,ISSA)" style="height: 100px;">


<div class="plans-section">
    <p class="plans-label">Subscription Plan *</p>
    <div class="plans-grid">
 
      <div class="plan-card selected">
        <div class="icon">📅</div>
        <p class="name">1 Month</p>
        <p class="price">300dt/mois</p>
        <p class="total">Total: 300dt</p>
      </div>
 
      <div class="plan-card">
        <span class="badge badge-green">Save 17%</span>
        <div class="icon">📅</div>
        <p class="name">3 Months</p>
        <p class="price">250dt/mois</p>
        <p class="total">Total: 750dt</p>
      </div>
 
      <div class="plan-card" >
        <span class="badge badge-orange">Save 27%</span>
        <div class="icon">📊</div>
        <p class="name">6 Months</p>
        <p class="price">220dt/mois</p>
        <p class="total">Total: 1320dt</p>
      </div>
 
      <div class="plan-card" >
        <span class="badge badge-purple">Save 40%</span>
        <div class="icon">⭐</div>
        <p class="name">1 Year</p>
        <p class="price">180dt/mois</p>
        <p class="total">Total: 2160dt</p>
      </div>
 
    </div>
  </div>




<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
    <div>
        <label>Password</label>
        <input type="password" placeholder="••••••••">
    </div>
    <div>
        <label>Confirm Password</label>
        <input type="password" placeholder="••••••••">
    </div>
</div>
<input type="checkbox" name="" id="">
    <label for="">I agree to the <span>
         Terms and Conditions</span> and <span> Privacy Policy</span></label>
   
<button>
    Subscribe Now🎉
</button>

</form>
<span>
    Already have an account? <span [routerLink]="['/authentification','coach']">Log in</span>
</span></div>